Repository BadwaterBay/gen1.badwaterbay.com, pull requests merged in 2020-06, with the labels that each got.

#4 Insert GitHub label manager plus webapp
  public_html/components/footer.js
  public_html/components/head.js
  public_html/components/navbar.js
  public_html/github-label-manager-plus/components/copyFromCard.js
  public_html/github-label-manager-plus/components/dashboardCard.js
  public_html/github-label-manager-plus/components/loadingModal.js
  public_html/github-label-manager-plus/components/loginCard.js
  public_html/github-label-manager-plus/components/managementCard.js
  public_html/github-label-manager-plus/css/app.min.css
  public_html/github-label-manager-plus/css/app.min.css.map
  public_html/github-label-manager-plus/css/colorpicker.css
  public_html/github-label-manager-plus/images/blank.gif
  public_html/github-label-manager-plus/images/colorpicker_background.png
  public_html/github-label-manager-plus/images/colorpicker_hex.png
  public_html/github-label-manager-plus/images/colorpicker_hsb_b.png
  public_html/github-label-manager-plus/images/colorpicker_hsb_h.png
  public_html/github-label-manager-plus/images/colorpicker_hsb_s.png
  public_html/github-label-manager-plus/images/colorpicker_indic.gif
  public_html/github-label-manager-plus/images/colorpicker_overlay.png
  public_html/github-label-manager-plus/images/colorpicker_rgb_b.png
  public_html/github-label-manager-plus/images/colorpicker_rgb_g.png
  public_html/github-label-manager-plus/images/colorpicker_rgb_r.png
  public_html/github-label-manager-plus/images/colorpicker_select.gif
  public_html/github-label-manager-plus/images/colorpicker_submit.png
  public_html/github-label-manager-plus/images/custom_background.png
  public_html/github-label-manager-plus/images/custom_hex.png
  public_html/github-label-manager-plus/images/custom_hsb_b.png
  public_html/github-label-manager-plus/images/custom_hsb_h.png
  public_html/github-label-manager-plus/images/custom_hsb_s.png
  public_html/github-label-manager-plus/images/custom_indic.gif
  public_html/github-label-manager-plus/images/custom_rgb_b.png
  public_html/github-label-manager-plus/images/custom_rgb_g.png
  public_html/github-label-manager-plus/images/custom_rgb_r.png
  public_html/github-label-manager-plus/images/custom_submit.png
  public_html/github-label-manager-plus/images/select.png
  public_html/github-label-manager-plus/images/select2.png
  public_html/github-label-manager-plus/images/slider.png
  public_html/github-label-manager-plus/index.html
  public_html/github-label-manager-plus/index.js
  public_html/github-label-manager-plus/js/app.js
  public_html/github-label-manager-plus/js/colorpicker.js
  public_html/github-label-manager-plus/scss/app.scss
  public_html/index.html
  public_html/index.js
Labels: PR: review needed, lang: html, lang: javascript

#9 Create initial home page layout
  public_html/css/app.min.css
  public_html/css/app.min.css.map
  public_html/images/badwater-basin.jpg
  public_html/index.html
  public_html/index.js
  public_html/scss/app.scss
Labels: PR: review needed, lang: css, lang: javascript

#10 Remove container to remove white space around masthead
  public_html/index.html
  public_html/index.js
Labels: PR: review needed, lang: css

#11 Move navbar elements above header
  public_html/css/app.min.css
  public_html/css/app.min.css.map
  public_html/scss/app.scss
Labels: PR: review needed, lang: css

#12 Init yarn & add http-server at localhost:5000
  package.json
  yarn.lock
Labels: PR: review accepted

#13 Insert camera-trends page
  public_html/camera-trends/css/app.min.css
  public_html/camera-trends/css/app.min.css.map
  public_html/camera-trends/data/camera-wtdmean-continent.csv
  public_html/camera-trends/data/camera-wtdmean-global.csv
  public_html/camera-trends/data/dslr-wtdmean-global.csv
  public_html/camera-trends/data/mirrorless-wtdmean-global.csv
  public_html/camera-trends/data/revenue.csv
  public_html/camera-trends/index.html
  public_html/camera-trends/index.js
  public_html/camera-trends/js/app.js
  public_html/camera-trends/scss/app.scss
  public_html/components/navbar.js
  public_html/github-label-manager-plus/css/app.min.css
  public_html/github-label-manager-plus/scss/app.scss
Labels: PR: review needed

#18 Add browsersync and removed http-server. Use yarn start
  bs-config.js
  package.json
  yarn.lock
Labels: status: review needed

#23 Add footer to website
  public_html/about/index.html
  public_html/about/index.js
  public_html/app/camera-trends/index.html
  public_html/app/camera-trends/index.js
  public_html/app/github-label-manager-plus/index.html
  public_html/app/github-label-manager-plus/index.js
  public_html/common/components/footer.js
  public_html/common/components/head.js.notused
  public_html/common/components/navbar.js
  public_html/common/css/common.min.css
  public_html/common/css/common.min.css.map
  public_html/common/scss/common.scss
  public_html/components/footer.js.notused
  public_html/css/app.min.css
  public_html/css/app.min.css.map
  public_html/index.html
  public_html/index.js
  public_html/scss/app.scss
Labels: lang: css, lang: html, status: review needed
